<launch>
	<arg name="obstacle" default="false"/>
	<arg name="one_obstacles" default="true"/>
	<arg name="multi_obstacles" default="false"/>

	<env name="GAZEBO_MODEL_PATH" value="$(find wheel_chair_model)/models:$(optenv GAZEBO_MODEL_PATH)"/>
	<group if="$(arg obstacle)">
		<include file="$(find wheel_chair_model)/launch/empty_world.launch">
			<arg name="world_name" value="$(find wheel_chair_model)/worlds/Wheelchair.world"/>
		</include>
	</group>
	<group if="$(arg one_obstacles)">
		<include file="$(find wheel_chair_model)/launch/empty_world.launch">
			<arg name="world_name" value="$(find wheel_chair_model)/worlds/Wheelchair_one_obstacle.world"/>
		</include>
	</group>
	<group if="$(arg multi_obstacles)">
		<include file="$(find wheel_chair_model)/launch/empty_world.launch">
			<arg name="world_name" value="$(find wheel_chair_model)/worlds/Wheelchair_multiple_obstacles.world"/>
		</include>
	</group>

	<!-- Set the control level of the wheelchair, just change the data !  -->
	<!-- CONTROL_NONE=0, CONTROL_POS_2D, CONTROL_VEL_2D, CONTROL_TORQUE_2D, CONTROL_POS_COM, CONTROL_VEL_COM, CONTROL_TORQUE_COM, CONTROL_TELE-->
	<node pkg="rostopic" type="rostopic" name="rostopic" args="pub -r 100 /quickie_wheel_Control_level std_msgs/Int64 'data: 7' "/>
</launch>
